#footer_container {
  width: 70%;
  margin: 50px auto;
  color: $footerColor;
  display: flex;
  li {
    list-style: none;
    padding: 4px 0;
    font-size: 12px;
  }
  #left, #central, #right {
    width: 30%;
    h3 {
      margin: 3% 0;
    }
  }
  #left li {
      padding: 0;
  }
  #central {
    padding-left: 25px;
  }
  #right {
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  #footer_container {
    flex-direction: column;
    #left, #central, #right {
      width: 100%;
      padding: 0px;
      h3 {
        margin: 15px 0px;
      }
    }
  }
}
